body {
    display: flex;  
    flex-wrap: wrap;  
    margin: 3px;
    flex: 1 1 100vw;
}
header, nav, main, aside, footer {
    display: flex;    
    margin: 3px;
    background-color: #ffffff;
    
}
header {
    flex: 1 1 100vw;
    height: 60px;
    border-bottom: 2px solid #2d8d1a;
}
header #logo {
    flex: 0 1 200px;
    background-color: #ffffff;
}
#logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#openMenu, #closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display: none;
}
nav {
    flex: 1 1 100vw;
    align-items: center;
    justify-content: flex-end;
}
nav a {
    margin: 3%;
    margin-right: 7%;
    font-size: 18pt;
}
nav a:hover {
    border-bottom: 2px solid #2d8d1a;
}
main {
    flex: 20 1 100vw;
    height: 100%;
    
}
aside {
    flex: 1 1 100vw;
    height: 300px;
    border-bottom: 2px solid #2d8d1a;
}
#banner {
    object-fit: cover;
    object-position: center;
}
footer {
    flex: 1 1 100vw;
}
a {
    text-decoration: none;
    color: inherit;
}
.destaque {
    width: 500px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 24px;
    flex-direction: column;
}
.destaque a {
    font-size: 16px;
    color: #2d8d1a;
    text-decoration: underline;
}
.course-container {
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
}
.course-card {
    height: 350px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(38, 37, 39, 0.1);
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto;
}
.course-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.course-content h3 {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}
img {
    max-width: 100%;
}
.course-img {
    height: 180px;
}
.lazyloaded {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slogan {
    text-align: center;
    background: #E6742E;
    padding: 4px;
    width: 100%;
    border: 1px solid #2d8d1a;
}
.footer-container {
    display: flex;
    flex-wrap: warp;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.adress, .contact, .socialmedia, .qrcode {
    height: 100px;
    width: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.qrcode img {
    margin: auto;
    width: 100px;
    height: 100px;
}

/*PAGINA CURSO*/

.container-curso-info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 0 auto 100px auto;
}
.img-curso-info img {
    height: 500px;
    width: 100%vw;
    object-fit: contain;
    object-position: center;
}
.text-curso-info {
    width: 70%;
    text-align: center;
}
.button-whats {
    text-align: center;
    padding: 4px;
}
a img {
    height: 130px;
}


/*FORMS*/
.container {
    display: flex;
    align-items: center;
    gap: 50px;
    max-width: 100%;
    width: 100%;
    height: 100%;
}
form {
    flex: 1;
    padding: 50px;
    margin-right: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
}
form label {
    font-weight: bold;
}
form input, textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
form button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
form button:hover {
    background-color: #218838;
}
.image-container {
    flex: 1;
    text-align: center;
}
.image-container img {
    max-width: 100%;
    border-radius: 5px;
}

@media only screen and (max-width: 717px) {
    #openMenu, #closeMenu {
        display: block;
    }

    #openMenu {
        margin-left: auto;
    }
    #closeMenu {
        position: fixed;
        right: 15px;
        top: 15px;
    }
    nav {
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.8);
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: 0.3s;
    }
    .footer-container {
        flex-direction: column;
    }
    @media (max-width: 768px) {
        body {
            height: auto;
            margin: 10px;
        }
        .container {
            flex-direction: column;
            align-items: center;
        }
        .image-container {
            order: -1; /* Coloca a imagem acima do formulário */
        }
        form {
            width: 100%;
            max-width: 400px;
            margin: auto;
            margin-bottom: 40px;
        }
    }
}